.error__container {
    color: white;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;
    margin: 0 auto;
}

.error__oops {
    font-size: 5rem;
    font-weight: 700;
}

.error__message {
    text-align: center;
    font-size: 2rem;
}

.error__code {
    font-size: 6rem;
    font-weight: 900;
}