.film__container {
    background-color: #1a1a1a;
    color: white;
    border-radius: 5px 5px 0 0;
}

.film__info {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    padding: 10px;
}

.film__rating {
    display: flex;
    gap: 5px;
}

.film__title {
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.film__image {
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    border-radius: 5px 5px 0 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.film__image:hover {
    opacity: 0.8;
}

.film__like {
    cursor: pointer;
    color: red;
}
