.navbar {
   background-color: #1a1a1a;
   padding: 1em;
}

.navbar__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1440px;
   margin: 0 auto;
   color: white;
}

.navbar__logo {
   font-size: 1.2rem;
   font-weight: 700;
   text-decoration: none;
   color: white;
}

.navbar__sections {
   display: flex;
   gap: 2em;
   font-weight: 500;
}

.navbar__burger {
   display: none;
   position: relative;
}

@media screen and (max-width: 768px) {
   .navbar__sections {
      display: none;
   }
   
   .navbar__burger {
      display: block;
   }
}

.navlink {
   text-decoration: none;
   color: white;

}

.active-link {
   font-weight: 900;
   color: #f0720c;
}

.navbar__menu {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 15px;
   border: 1px solid black;
   border-radius: 5px;
   position: absolute;
   width: 100px;
   height: 100px;
   z-index: 1;
   right: 0%;
   background-color: #1a1a1a;
   align-items: center;
}


.navbar__sections {
   z-index: 12;
}
